Repository SukramJ/aiohomematic-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-class-members, check-i18n, lint-package-imports, lint-all-exports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sort-class-members
        name: sort-class-members
        entry: script/run-in-env.sh python script/sort_class_members.py
        language: script
        types_or: [python]
        files: ^(aiohomematic_config|tests)/.+\.py$
      - id: check-i18n
        name: check-i18n
        entry: script/run-in-env.sh python script/check_i18n.py
        language: script
        types_or: [python]
        files: ^(aiohomematic_config)/.+\.py$
      - id: lint-package-imports
        name: lint-package-imports
        entry: script/run-in-env.sh python script/lint_package_imports.py
        language: script
        types_or: [python]
        files: ^(tests)/.+\.py$
        pass_filenames: false
      - id: lint-all-exports
        name: lint-all-exports
        entry: script/run-in-env.sh python script/lint_all_exports.py
        language: script
        files: ^aiohomematic_config/.+/__init__\.py$
        pass_filenames: false
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
        files: ^((aiohomematic_config|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=ans,hass
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(aiohomematic_config|script|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=devel
          - --branch=master
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^.+\.(md|json|ya?ml)$
        exclude: ^(tests/fixtures/)
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.3
    hooks:
      - id: python-typing-update
        stages: [manual]
        args:
          - --py313-plus
          - --force
          - --keep-updates
        files: ^(aiohomematic_config|tests|script)/.+\.py$
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types_or: [python, pyi]
        require_serial: true
        files: ^(aiohomematic_config)/.+\.py$
      - id: pylint
        name: pylint
        entry: script/run-in-env.sh pylint -j 0
        language: script
        types_or: [python, pyi]
        files: ^(aiohomematic_config)/.+\.py$
      - id: kwonly-lint
        name: kwonly-lint
        entry: script/run-in-env.sh python script/lint_kwonly.py aiohomematic_config
        language: script
        types_or: [python, pyi]
        files: ^(aiohomematic_config)/.+\.py$

Update .gitignore
  .gitignore
Due: none

Fix URL-encoded umlauts in profile names and descriptions (#15)
  .gitignore
  .yamllint
  aiohomematic_config/const.py
  aiohomematic_config/profile_store.py
  changelog.md
  pyproject.toml
  requirements.txt
Due: sort-class-members, check-i18n

Resolve TCL `$variable` references in easymode profile constraints (e.g. `$NOP`, `$RAMP_ON`)
  .claude/settings.local.json
  aiohomematic_config/const.py
  aiohomematic_config/profiles/ACCESS_RECEIVER.json
  aiohomematic_config/profiles/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/ALARM_SWITCH_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/BLIND_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/DIMMER_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/DOOR_LOCK_TRANSCEIVER.json
  aiohomematic_config/profiles/DOOR_RECEIVER.json
  aiohomematic_config/profiles/SHUTTER_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/SWITCH_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/UNIVERSAL_ACTOR.json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_PWM.json
  aiohomematic_config/profiles/WATER_SWITCH_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/WINMATIC.json
  changelog.md
  requirements_test.txt
  script/parse_easymode_profiles.py
Due: sort-class-members, check-i18n

Resolve TCL `$variable` references in easymode profile constraints (e.g. `$NOP`, `$RAMP_ON`) (#16)
  .claude/settings.local.json
  aiohomematic_config/const.py
  aiohomematic_config/profiles/ACCESS_RECEIVER.json
  aiohomematic_config/profiles/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/ALARM_SWITCH_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/BLIND_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/DIMMER_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/DOOR_LOCK_TRANSCEIVER.json
  aiohomematic_config/profiles/DOOR_RECEIVER.json
  aiohomematic_config/profiles/SHUTTER_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/SWITCH_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/UNIVERSAL_ACTOR.json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_PWM.json
  aiohomematic_config/profiles/WATER_SWITCH_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/WINMATIC.json
  changelog.md
  requirements_test.txt
  script/parse_easymode_profiles.py
Due: sort-class-members, check-i18n

Handle TCL `[subst {...}]` wrappers in easymode profile constraint parsing
  aiohomematic_config/const.py
  aiohomematic_config/profiles/BLIND_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/SHUTTER_VIRTUAL_RECEIVER.json
  changelog.md
  script/parse_easymode_profiles.py
Due: sort-class-members, check-i18n

Handle TCL `[subst {...}]` wrappers in easymode profile constraint parsing (#17)
  aiohomematic_config/const.py
  aiohomematic_config/profiles/BLIND_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/SHUTTER_VIRTUAL_RECEIVER.json
  changelog.md
  script/parse_easymode_profiles.py
Due: sort-class-members, check-i18n

Follow TCL `source` includes to resolve profiles defined in shared files
  aiohomematic_config/const.py
  aiohomematic_config/profiles/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/ACTOR_WINDOW.json
  aiohomematic_config/profiles/ALARMACTUATOR.json
  aiohomematic_config/profiles/AUTO_RELOCK_TRANSCEIVER.json
  aiohomematic_config/profiles/DIMMER_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/DOOR_LOCK_TRANSCEIVER.json
  aiohomematic_config/profiles/STATUS_INDICATOR.json
  aiohomematic_config/profiles/SWITCH.json
  aiohomematic_config/profiles/SWITCH_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/UNIVERSAL_ACTOR.json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_LSC.json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_PWM.json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_RGB(W).json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_RGBW_DALI.json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_TW.json
  aiohomematic_config/profiles/WATER_SWITCH_VIRTUAL_RECEIVER.json
  changelog.md
  script/parse_easymode_profiles.py
Due: sort-class-members, check-i18n

Follow TCL `source` includes to resolve profiles defined in shared files (#18)
  aiohomematic_config/const.py
  aiohomematic_config/profiles/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/ACTOR_WINDOW.json
  aiohomematic_config/profiles/ALARMACTUATOR.json
  aiohomematic_config/profiles/AUTO_RELOCK_TRANSCEIVER.json
  aiohomematic_config/profiles/DIMMER_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/DOOR_LOCK_TRANSCEIVER.json
  aiohomematic_config/profiles/STATUS_INDICATOR.json
  aiohomematic_config/profiles/SWITCH.json
  aiohomematic_config/profiles/SWITCH_VIRTUAL_RECEIVER.json
  aiohomematic_config/profiles/UNIVERSAL_ACTOR.json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_LSC.json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_PWM.json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_RGB(W).json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_RGBW_DALI.json
  aiohomematic_config/profiles/UNIVERSAL_LIGHT_RECEIVER_TW.json
  aiohomematic_config/profiles/WATER_SWITCH_VIRTUAL_RECEIVER.json
  changelog.md
  script/parse_easymode_profiles.py
Due: sort-class-members, check-i18n

Create lock.yml
  .github/workflows/lock.yml
Due: none

Add `device_active_profile_index` field to `ClimateScheduleData`
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  aiohomematic_config/schedule_facade.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: sort-class-members, check-i18n

Add `device_active_profile_index` field to `ClimateScheduleData` (#20)
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  aiohomematic_config/schedule_facade.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: sort-class-members, check-i18n

**Python 3.14 minimum**: Dropped Python 3.13 support
  .claude/settings.local.json
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/test-run.yaml
  .pre-commit-config.yaml
  aiohomematic_config/__init__.py
  aiohomematic_config/change_log.py
  aiohomematic_config/const.py
  aiohomematic_config/exporter.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/grouping.py
  aiohomematic_config/labels.py
  aiohomematic_config/link_param_metadata.py
  aiohomematic_config/profile_data.py
  aiohomematic_config/profile_store.py
  aiohomematic_config/schedule_facade.py
  aiohomematic_config/session.py
  aiohomematic_config/widgets.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test_pre_commit.txt
  script/lint_all_exports.py
  script/lint_package_imports.py
  tests/conftest.py
  tests/helpers/parameter_data_factory.py
  tests/test_change_log.py
  tests/test_exporter.py
  tests/test_form_schema.py
  tests/test_grouping.py
  tests/test_labels.py
  tests/test_link_param_metadata.py
  tests/test_profile_store.py
  tests/test_session.py
  tests/test_widgets.py
Due: sort-class-members, check-i18n, lint-package-imports

**Python 3.14 minimum**: Dropped Python 3.13 support (#19)
  .claude/settings.local.json
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/test-run.yaml
  .pre-commit-config.yaml
  aiohomematic_config/__init__.py
  aiohomematic_config/change_log.py
  aiohomematic_config/const.py
  aiohomematic_config/exporter.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/grouping.py
  aiohomematic_config/labels.py
  aiohomematic_config/link_param_metadata.py
  aiohomematic_config/profile_data.py
  aiohomematic_config/profile_store.py
  aiohomematic_config/schedule_facade.py
  aiohomematic_config/session.py
  aiohomematic_config/widgets.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test_pre_commit.txt
  script/lint_all_exports.py
  script/lint_package_imports.py
  tests/conftest.py
  tests/helpers/parameter_data_factory.py
  tests/test_change_log.py
  tests/test_exporter.py
  tests/test_form_schema.py
  tests/test_grouping.py
  tests/test_labels.py
  tests/test_link_param_metadata.py
  tests/test_profile_store.py
  tests/test_session.py
  tests/test_widgets.py
Due: sort-class-members, check-i18n, lint-package-imports

Update requirements
  .pre-commit-config.yaml
  requirements_test.txt
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

Add `is_hmip` parameter to `FormSchemaGenerator.generate()` to resolve channel types
  .claude/settings.local.json
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_form_schema.py
Due: sort-class-members, check-i18n, lint-package-imports

Add `is_hmip` parameter to `FormSchemaGenerator.generate()` to resolve channel types (#21)
  .claude/settings.local.json
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_form_schema.py
Due: sort-class-members, check-i18n, lint-package-imports

Add easymode metadata enrichment to `FormSchemaGenerator`
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/grouping.py
  aiohomematic_config/master_profile_store.py
  aiohomematic_config/session.py
  changelog.md
Due: sort-class-members, check-i18n

Add index-based fallback for VALUE_LIST option label translatio
  .pre-commit-config.yaml
  aiohomematic_config/form_schema.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  tests/test_form_schema.py
Due: sort-class-members, check-i18n, lint-package-imports

Add tests
  .gitignore
  tests/test_form_schema.py
  tests/test_master_profile_store.py
  tests/test_session.py
Due: sort-class-members, lint-package-imports

Add easymode metadata enrichment to FormSchemaGenerator (#22)
  .gitignore
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/grouping.py
  aiohomematic_config/master_profile_store.py
  aiohomematic_config/session.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  tests/test_form_schema.py
  tests/test_master_profile_store.py
  tests/test_session.py
Due: sort-class-members, check-i18n, lint-package-imports

Update requirements
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: none

Add easymode cross-validation and metadata grouping
  .claude/settings.local.json
  aiohomematic_config/form_schema.py
  aiohomematic_config/grouping.py
  pyproject.toml
  requirements.txt
  tests/test_form_schema.py
  tests/test_grouping.py
Due: sort-class-members, check-i18n, lint-package-imports

Update changelog
  aiohomematic_config/const.py
  changelog.md
Due: sort-class-members, check-i18n

Add easymode cross-validation and metadata grouping (#23)
  .claude/settings.local.json
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/grouping.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_form_schema.py
  tests/test_grouping.py
Due: sort-class-members, check-i18n, lint-package-imports

Add receiver type alias resolution for channel types that share profiles
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  aiohomematic_config/grouping.py
  aiohomematic_config/profile_store.py
  aiohomematic_config/profiles/_receiver_type_aliases.json
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  script/parse_easymode_profiles.py
  tests/test_profile_store.py
Due: sort-class-members, check-i18n, lint-package-imports

Add receiver type alias resolution for channel types that share profiles (#24)
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  aiohomematic_config/grouping.py
  aiohomematic_config/profile_store.py
  aiohomematic_config/profiles/_receiver_type_aliases.json
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  script/parse_easymode_profiles.py
  tests/test_profile_store.py
Due: sort-class-members, check-i18n, lint-package-imports

Add `operations` field to `FormParameter`
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  changelog.md
Due: sort-class-members, check-i18n

Add `operations` field to `FormParameter` (#25)
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  changelog.md
Due: sort-class-members, check-i18n

Add dependabot config
  .github/dependabot.yml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Add `schedule_enabled` field to `DeviceScheduleData`
  aiohomematic_config/__init__.py
  aiohomematic_config/const.py
  aiohomematic_config/schedule_facade.py
  changelog.md
  pyproject.toml
  requirements.txt
Due: sort-class-members, check-i18n

Update schedule_facade.py
  aiohomematic_config/schedule_facade.py
Due: sort-class-members, check-i18n

Add tests
  tests/test_schedule_facade.py
Due: sort-class-members, lint-package-imports

Update test_schedule_facade.py
  tests/test_schedule_facade.py
Due: sort-class-members, lint-package-imports

Fix gh wf
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/test-run.yaml
Due: none

Add schedule_enabled field to DeviceScheduleData (#32)
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/test-run.yaml
  aiohomematic_config/__init__.py
  aiohomematic_config/const.py
  aiohomematic_config/schedule_facade.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_schedule_facade.py
Due: sort-class-members, check-i18n, lint-package-imports

Use `get_ui_label_translation()` from aiohomematic
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/grouping.py
  changelog.md
  pyproject.toml
  requirements.txt
Due: sort-class-members, check-i18n

Use `get_ui_label_translation()` from aiohomematic (#35)
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/grouping.py
  changelog.md
  pyproject.toml
  requirements.txt
Due: sort-class-members, check-i18n

Add `supported_schedule_fields` to `DeviceScheduleData`
  aiohomematic_config/const.py
  aiohomematic_config/schedule_facade.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_schedule_facade.py
Due: sort-class-members, check-i18n, lint-package-imports
