Repository SukramJ/aiohomematic-config: changes, and which Codecov flags are due for each by the changed paths.
All: full-suite, Form Schema Module, Grouping Module, Session Module, Labels Module

codecov.yml:

codecov:
  branch: devel
coverage:
  precision: 2
  round: nearest
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 9%
    patch:
      default:
        target: auto
        threshold: 5%
comment:
  layout: "reach, diff, flags, tree"
  behavior: default
  require_changes: false
ignore:
  - "tests/**"
  - "script/**"
  - "docs/**"
  - "**/__pycache__/**"
flags:
  full-suite:
    paths:
      - aiohomematic_config/
    carryforward: true
component_management:
  individual_components:
    - component_id: form-schema
      name: "Form Schema Module"
      paths:
        - aiohomematic_config/form_schema.py
        - aiohomematic_config/widgets.py
    - component_id: grouping
      name: "Grouping Module"
      paths:
        - aiohomematic_config/grouping.py
    - component_id: session
      name: "Session Module"
      paths:
        - aiohomematic_config/session.py
    - component_id: labels
      name: "Labels Module"
      paths:
        - aiohomematic_config/labels.py

Add `supported_schedule_fields` to `DeviceScheduleData` (#36)
  aiohomematic_config/const.py
  aiohomematic_config/schedule_facade.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_schedule_facade.py
Due: full-suite

Fall back to the locale-aware "Other Settings" label for metadata parameter groups
  aiohomematic_config/const.py
  aiohomematic_config/grouping.py
  aiohomematic_config/labels.py
  changelog.md
  tests/test_grouping.py
Due: full-suite, Grouping Module, Labels Module

Fall back to the locale-aware "Other Settings" label for metadata parameter groups (#40)
  aiohomematic_config/const.py
  aiohomematic_config/grouping.py
  aiohomematic_config/labels.py
  changelog.md
  tests/test_grouping.py
Due: full-suite, Grouping Module, Labels Module

Tighten code quality tooling
  .pre-commit-config.yaml
  aiohomematic_config/__init__.py
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  changelog.md
  pyproject.toml
  script/lint_all_exports.py
  tests/bandit.yaml
Due: full-suite, Form Schema Module

Update schedule_facade.py
  aiohomematic_config/schedule_facade.py
Due: full-suite

Tighten code quality tooling (#41)
  .pre-commit-config.yaml
  aiohomematic_config/__init__.py
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/schedule_facade.py
  changelog.md
  pyproject.toml
  script/lint_all_exports.py
  tests/bandit.yaml
Due: full-suite, Form Schema Module

Update requirements
  requirements.txt
  requirements_test.txt
Due: none

Update requirements
  .pre-commit-config.yaml
  requirements.txt
  requirements_test.txt
Due: none

Update requirements
  .pre-commit-config.yaml
  requirements_test.txt
Due: none

Update version
  aiohomematic_config/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: full-suite

Add settings.json
  .claude/settings.json
Due: none

Update requirements
  .claude/settings.json
  .gitignore
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: none

Update requirements (#56)
  .claude/settings.json
  .gitignore
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: none

chore(ci): harden CI supply chain and refresh branch references
  .github/workflows/lock.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/release-on-tag.yml
  .github/workflows/test-run.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  codecov.yml
  pyproject.toml
Due: none

chore(ci): harden CI supply chain and refresh branch references (#65)
  .github/workflows/lock.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/release-on-tag.yml
  .github/workflows/test-run.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  codecov.yml
  pyproject.toml
Due: none

chore(ci): add Dependabot auto-merge (patch/minor) and 7-day cooldown
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore(ci): add Dependabot auto-merge (patch/minor) and 7-day cooldown (#66)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: fix LICENSE attribution and add acknowledgments
  LICENSE
  README.md
Due: none

Update settings.json
  .claude/settings.json
Due: none

chore: fix LICENSE attribution and add acknowledgments (#69)
  .claude/settings.json
  LICENSE
  README.md
Due: none

docs(readme): note agentic AI-assisted development
  README.md
Due: none

docs(readme): note agentic AI-assisted development (#73)
  README.md
Due: none

docs: add AI contribution policy (AI_POLICY.md)
  AI_POLICY.md
  README.md
Due: none

docs: add AI contribution policy (AI_POLICY.md) (#90)
  AI_POLICY.md
  README.md
Due: none

Bump version to 2026.8.0
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: full-suite

Fix FURB192 in sort_class_members.py for ruff 0.16.1
  script/sort_class_members.py
Due: none

Bump version to 2026.8.0 (#91)
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  script/sort_class_members.py
Due: full-suite

Bump version to 2026.8.1
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: full-suite

Bump version to 2026.8.1 (#105)
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: full-suite

Update requirements
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: none

Bump version to 2026.10.1
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: full-suite

Bump version to 2026.10.1 (#119)
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: full-suite
