Repository SukramJ/aiohomematic-config: changes, and which Codecov flags are due for each by the changed paths.
All: full-suite, Form Schema Module, Grouping Module, Session Module, Labels Module

codecov.yml:

codecov:
  branch: devel
coverage:
  precision: 2
  round: nearest
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 9%
    patch:
      default:
        target: auto
        threshold: 5%
comment:
  layout: "reach, diff, flags, tree"
  behavior: default
  require_changes: false
ignore:
  - "tests/**"
  - "script/**"
  - "docs/**"
  - "**/__pycache__/**"
flags:
  full-suite:
    paths:
      - aiohomematic_config/
    carryforward: true
component_management:
  individual_components:
    - component_id: form-schema
      name: "Form Schema Module"
      paths:
        - aiohomematic_config/form_schema.py
        - aiohomematic_config/widgets.py
    - component_id: grouping
      name: "Grouping Module"
      paths:
        - aiohomematic_config/grouping.py
    - component_id: session
      name: "Session Module"
      paths:
        - aiohomematic_config/session.py
    - component_id: labels
      name: "Labels Module"
      paths:
        - aiohomematic_config/labels.py

Rename `device_type` to `model`
  aiohomematic_config/const.py
  aiohomematic_config/exporter.py
  changelog.md
  tests/test_exporter.py
Due: full-suite

Rename `device_type` to `model` (#2)
  aiohomematic_config/const.py
  aiohomematic_config/exporter.py
  changelog.md
  tests/test_exporter.py
Due: full-suite

Replace local translation files with upstream CCU translations from aiohomematic
  .claude/settings.local.json
  .pre-commit-config.yaml
  CLAUDE.md
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/labels.py
  aiohomematic_config/strings.json
  aiohomematic_config/translations/de.json
  aiohomematic_config/translations/en.json
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  script/check_i18n_catalogs.py
  tests/test_form_schema.py
  tests/test_labels.py
Due: full-suite, Form Schema Module, Labels Module

Replace local translation files with upstream CCU translations from aiohomematic (#3)
  .claude/settings.local.json
  .pre-commit-config.yaml
  CLAUDE.md
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/labels.py
  aiohomematic_config/strings.json
  aiohomematic_config/translations/de.json
  aiohomematic_config/translations/en.json
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  script/check_i18n_catalogs.py
  tests/test_form_schema.py
  tests/test_labels.py
Due: full-suite, Form Schema Module, Labels Module

Add locale-aware section titles to `ParameterGrouper`
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/grouping.py
  changelog.md
  requirements.txt
  tests/test_grouping.py
Due: full-suite, Form Schema Module, Grouping Module

Add locale-aware section titles to `ParameterGrouper` (#4)
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  aiohomematic_config/grouping.py
  changelog.md
  requirements.txt
  tests/test_grouping.py
Due: full-suite, Form Schema Module, Grouping Module

Filter parameters without CCU translation
  aiohomematic_config/form_schema.py
  aiohomematic_config/labels.py
  changelog.md
  tests/conftest.py
  tests/test_form_schema.py
  tests/test_labels.py
Due: full-suite, Form Schema Module, Labels Module

Update test-run.yaml
  .github/workflows/test-run.yaml
Due: none

Fix test
  tests/conftest.py
  tests/test_form_schema.py
Due: none

Filter parameters without CCU translation (#5)
  .github/workflows/test-run.yaml
  aiohomematic_config/form_schema.py
  aiohomematic_config/labels.py
  changelog.md
  tests/conftest.py
  tests/test_form_schema.py
  tests/test_labels.py
Due: full-suite, Form Schema Module, Labels Module

Always populate `option_labels` on VALUE_LIST parameters with humanized fallback
  aiohomematic_config/form_schema.py
  aiohomematic_config/labels.py
  changelog.md
  tests/conftest.py
  tests/test_form_schema.py
  tests/test_labels.py
Due: full-suite, Form Schema Module, Labels Module

Always populate `option_labels` on VALUE_LIST parameters with humanized fallback (#6)
  aiohomematic_config/form_schema.py
  aiohomematic_config/labels.py
  changelog.md
  tests/conftest.py
  tests/test_form_schema.py
  tests/test_labels.py
Due: full-suite, Form Schema Module, Labels Module

Update requirements
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: none

Config related logic
  aiohomematic_config/__init__.py
  aiohomematic_config/change_log.py
  aiohomematic_config/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_change_log.py
Due: full-suite

Update test_form_schema.py
  tests/test_form_schema.py
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

Config related logic (#8)
  CLAUDE.md
  aiohomematic_config/__init__.py
  aiohomematic_config/change_log.py
  aiohomematic_config/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_change_log.py
  tests/test_form_schema.py
Due: full-suite

Fix blocking `read_text` / `open` calls inside the async event loop
  aiohomematic_config/const.py
  aiohomematic_config/profile_store.py
  changelog.md
  tests/test_profile_store.py
Due: full-suite

Async only
  aiohomematic_config/profile_store.py
  changelog.md
  tests/test_profile_store.py
Due: full-suite

Fix blocking `read_text` / `open` calls inside the async event loop (#9)
  aiohomematic_config/const.py
  aiohomematic_config/profile_store.py
  changelog.md
  tests/test_profile_store.py
Due: full-suite

Update docs
  docs/api.md
  docs/architecture.md
  docs/implementation_plan.md
Due: none

Add schedule facade
  aiohomematic_config/__init__.py
  aiohomematic_config/const.py
  aiohomematic_config/schedule_facade.py
  changelog.md
  docs/api.md
Due: full-suite

Add schedule facade (#10)
  aiohomematic_config/__init__.py
  aiohomematic_config/const.py
  aiohomematic_config/schedule_facade.py
  changelog.md
  docs/api.md
Due: full-suite

Use `schedule_domain` property from aiohomematic instead of local heuristic
  aiohomematic_config/const.py
  aiohomematic_config/schedule_facade.py
  changelog.md
  pyproject.toml
  requirements.txt
Due: full-suite

Use `schedule_domain` property from aiohomematic instead of local heuristic (#11)
  aiohomematic_config/const.py
  aiohomematic_config/schedule_facade.py
  changelog.md
  pyproject.toml
  requirements.txt
Due: full-suite

Use prefix matching for `channel_address` filter in `ConfigChangeLog.get_entries()` to match all channels of a device
  aiohomematic_config/change_log.py
  aiohomematic_config/const.py
  changelog.md
  tests/test_change_log.py
Due: full-suite

Update version
  pyproject.toml
  requirements.txt
Due: none

Use prefix matching for `channel_address` filter in `ConfigChangeLog.… (#12)
  aiohomematic_config/change_log.py
  aiohomematic_config/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_change_log.py
Due: full-suite

Update requirements
  .pre-commit-config.yaml
  requirements_test.txt
Due: none

Add `description` field to `FormParameter` with Markdown-formatted parameter help text
  .claude/settings.local.json
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_form_schema.py
Due: full-suite, Form Schema Module

Add `description` field to `FormParameter` with Markdown-formatted parameter help text (#13)
  .claude/settings.local.json
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_form_schema.py
Due: full-suite, Form Schema Module

Add `device_icon` field to `FormSchema` with icon filename
  .claude/settings.local.json
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  tests/test_form_schema.py
Due: full-suite, Form Schema Module

Add `device_icon` field to `FormSchema` with icon filename (#14)
  .claude/settings.local.json
  .pre-commit-config.yaml
  aiohomematic_config/const.py
  aiohomematic_config/form_schema.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  tests/test_form_schema.py
Due: full-suite, Form Schema Module

Update Funding
  .github/FUNDING.yml
Due: none

Fix URL-encoded umlauts in profile names and descriptions
  aiohomematic_config/const.py
  aiohomematic_config/profile_store.py
  changelog.md
  pyproject.toml
  requirements.txt
Due: full-suite

Update .yamllint
  .yamllint
Due: none

Fixes
  aiohomematic_config/profile_store.py
Due: full-suite
